doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv="Content-Security-Policy" content="default-src 'self' https://api.razorpay.com; script-src 'self' https://checkout.razorpay.com https://cdn.jsdelivr.net; style-src 'self' https://fonts.googleapis.com 'unsafe-inline'; frame-src https://api.razorpay.com https://checkout.razorpay.com; connect-src 'self' ws://127.0.0.1:*; font-src 'self' https://fonts.gstatic.com; child-src https://api.razorpay.com https://checkout.razorpay.com;")
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      title Adventure Gate | #{title}
  
  body
    include _header

    block content
      h1 This is a placeholder heading

    include _footer

    //- Load Axios via CDN
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    
    //- Load Razorpay checkout script
    script(src="https://checkout.razorpay.com/v1/checkout.js")

    //- Load your custom JavaScript files as modules
    script(type='module' src='/js/login.js')
    script(type='module' src='/js/updateSettings.js')
    script(type='module' src='/js/razorpay.js')
